@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Merriweather+Sans&display=swap');

/* Global Attributes */

body {
    margin: 0;
    padding: 0;    
}

html {
    box-sizing: border-box; 
    font-family: 'Merriweather Sans', sans-serif;       
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color:#3d2952;
    font-weight: 700;    
    /* font-family: 'Merriweather Sans', sans-serif; */
    
}


button:hover {
    cursor:pointer;
    transform: scale(1.5);
    outline: none;    
}



/* For the navigation bar */
#navigation {
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    background-color: hsla(216, 14%, 84%, 1);
    height: 5em;

}

#navigation_link {
    display: flex;    
    list-style: none;  
    padding: 0.5em 5em 1em 0;
    font-size: 1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

#navigation_link > li {
    padding-right: 3em;
}


/* CSS for the Hero section */
#hero_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
    justify-content: space-around;
    height: 100vh;
}

.attention_message {
    padding-top:10em;    
}

h1 {
    color: red;   
}

.sign_up {
    border-radius: 45px;
    padding: 1em 3em;
    margin-top: 2em;
    margin-left:3em;
    font-weight: bold;
}

.art_cover_container {
    padding-top: 1em;
}

/* The object fit element was used to capture all the images to fit in within the same size */
.art_cover {
    width: 260px;
    height: 300px;
    object-fit: cover;
    padding:0 3em 3em 0;
}

img {
    cursor:pointer; 
    border-radius: 15%;  
}

/* The features section */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1em 0 10em 0; */
    
}

.features_section {
    display: flex;
}

.features_note {
    /* padding-right:10em;
    padding-left: 5em; */
    padding: 0 10em 0 5em;
}

/* Footer */
footer {
    background-color: hsla(216, 14%, 84%, 1);
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
}

.footer_background {
    display: flex;    
}

.contact_options {
    margin-left:10em;
}

.footer_background {
    list-style: none;    
    display: flex;
    padding: 5em 0 1em 0;
}

.footer_background > li {
    padding-right: 5em;
    font-size:1.5em;
}